<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Профиксмед</title>
    <link rel="stylesheet" href="~/css/_main.min.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

</head>



<body>
    <div class="wrapper">
        <header class="header">
            <div class="container header__container">
                <div class="burger" id="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="header__logo">
                    <a href="/">
                        <img src="~/images/logo.svg" alt="Профиксмед" class="logo__image" />
                    </a>
                </div>
                <nav class="header__nav" id="nav">
                    @* <a href="~/files/events.pdf">Мероприятия</a> *@
                    <a href="#">Мероприятия</a>
                    <a href="#">Архив</a>
                    <a href="#">Фотогалерея</a>
                </nav>
            </div>
        </header>

        <main class="main container">
            @RenderBody()
        </main>

        <footer class="footer">
            <div class="container footer__content">
                ООО "Профиксмед" | ИНН 7751309229 | ОГРН 1247700299406 | Контактный телефон: 8-926-038-91-26
            </div>
        </footer>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
