@model EventModalViewModel

<div class="modal" id="event">
    <div class="modal__overlay js-close-modal"></div>
    <div class="modal__content">
        <button class="modal__close js-close-modal">&times;</button>
        <h3>@Model.Title</h3>
        <p>
            @Model.Date<br />
            @Model.Location
        </p>
    </div>
</div>
