@{
	ViewData["Title"] = "Главная";
}

<div class="main-columns container">
	<div class="column column--news">
		<h2 class="section__title">Новости</h2>
		<div class="card news__card">
			<h3>Вьетнам хочет закупать у России вакцину от ВПЧ</h3>
			<p>16.09.2025</p>
			<a href="https://ria.ru/20250916/vaktsina-2042198375.html" target="_blank" class="btn">Читать</a>
		</div>

		<div class="card news__card">
			<h3>В Саратове создан датчик, выявляющий болезни сердца за три минуты</h3>
			<p>16.09.2025</p>
			<a href="https://ria.ru/20250916/nauka-2041507597.html" target="_blank" class="btn">Читать</a>
		</div>

		<div class="card news__card">
			<h3>Сургутские ученые поняли, как снизить угрозу рака при ЭКО</h3>
			<p>16.09.2025</p>
			<a href="https://ri.ria.ru/20250915/nauka-2040438635.html" target="_blank" class="btn">Читать</a>
		</div>
	</div>

	<div class="column column--event">
		<h2 class="section__title">Мероприятия</h2>
		<div class="card event__card">
			<img src="~/files/RJD1.png" alt="Мероприятие" class="event__image" />
			<div class="event__desc_off">
				<p>17 октября 2025 г. По адресу: 119435, Москва, Малая Пироговская, 1а</p>
				<button type="button" class="btn js-open-modal" data-modal-target="first_event">Подробнее</button>
			</div>
		</div>
		<div class="card event__card">
			<img src="~/files/Приглашение Королёв_page-0001.jpg" alt="Мероприятие" class="event__image" />
			<div class="event__desc_off">
				<p>
					1 ноября 2025 г., По адресу: Московская область, г. Королёв, ул. Циолковского, д. 24, ГБУЗ МО «Королёвская больница».
				</p>
				<button type="button" class="btn js-open-modal" data-modal-target="second_event">Подробнее</button>
			</div>
		</div>
	</div>

	@await Component.InvokeAsync("EventModal", new EventModalViewModel
	{
		Id = "first_event",
		Title = "Информация о мероприятии",
		Date = "17 октября 2025 г. ",
		Location = "119435, Москва, Малая Пироговская, 1а",
		FilePath = "files/финал Проект программы ФМБА 2.pdf"
	})

	@await Component.InvokeAsync("EventModal", new EventModalViewModel
	{
		Id = "second_event",
		Title = "Информация о мероприятии",
		Date = "1 ноября 2025 г.",
		Location = "Московская область, г. Королёв, ул. Циолковского, д. 24, ГБУЗ МО «Королёвская больница».",
		FilePath = "files/Приглашение Королёв.pdf"
	})


</div>
