@{
	ViewData["Title"] = "Главная";
}

<div class="main-columns container">
	<div class="column column--news">
		<h2 class="section__title">Новости</h2>
		<div class="card news__card">
			<h3>Тюменские ученые установили связь микробиоты кишечника и ожирения</h3>
			<p>31.03.2025</p>
			<a href="https://ri.ria.ru/20250331/nauka-2007719586.html" target="_blank" class="btn">Читать</a>
		</div>

		<div class="card news__card">
			<h3>Ивановские ученые получили вещество для повреждения "вредоносных" ДНК</h3>
			<p>25.03.2025</p>
			<a href="https://ri.ria.ru/20250325/nauka-2007001368.html" target="_blank" class="btn">Читать</a>
		</div>

		<div class="card news__card">
			<h3>Министр здравоохранения РФ Михаил Мурашко направил приветствие участникам 18 Всероссийского съезда Национального Альянса дерматовенерологов и косметологов «Синтез науки и практики»</h3>
			<p>18.03.2025</p>
			<a href="https://minzdrav.gov.ru/news/2025/03/18/23741-ministr-zdravoohraneniya-rf-mihail-murashko-napravil-privetstvie-uchastnikam-18-vserossiyskogo-s-ezda-natsionalnogo-alyansa-dermatovenerologov-i-kosmetologov-sintez-nauki-i-praktiki" target="_blank" class="btn">Читать</a>
		</div>
	</div>

	<div class="column column--event">
		<h2 class="section__title">Мероприятия</h2>
		<div class="card event__card">
			<img src="~/images/event-placeholder.jpg" alt="Мероприятие" class="event__image" />
			<div class="event__desc">
				<p>11 апреля 2025г., по адресу: г. Кострома, ул. Юношеская, д.1, гостиничный комплекс "Волга", большой конференц-зал.</p>
				<button type="button" class="btn js-open-modal" data-modal-target="event">Подробнее</button>
			</div>
		</div>
	</div>

	@await Component.InvokeAsync("EventModal", new EventModalViewModel
	{
		Title = "Информация о мероприятии",
		Date = "11 апреля 2025 года, 10:00",
		Location = "г. Кострома, ул. Юношеская, д.1, гостиничный комплекс \"Волга\", большой конференц-зал",
		FilePath = "files/program.pdf"
	})

</div>
